 
    <!--首页 index -->
    <{if $teacherNoticeList}>
    <section id="cd-timeline" class="cd-container">
        <{foreach from=$teacherNoticeList item=val}>
            <div class="cd-timeline-block">
                <span class="timeline-span"><{$val.created|date_format:"n月d日"}></span>
                <div class="cd-timeline-img cd-picture">
                </div>
                <div class="cd-timeline-content" 
                onclick="<{if $val.url}> location.href='<{$val.url}>&teacher_id=<{$loginUser.id}>&systemNotice_id=<{$val.id}>'<{/if}>" >
                    <div class="user_avatar">
                        <img  src="<{$smarty.const.APP_OSS_URL}><{$val.send_user_avatar}>"/>
                    </div>
                    <p><span class="al-tongzhi-color">内容：</span><{$val.content}>。</p>
                    <p><span class="al-tongzhi-color">提示：</span>发送人数<span class="color-red"><{$val.sendNum}></span>人，已阅读人数<span class="color-red"><{$val.isReadNum}></span></p>
                    <{if $val.url}>
                    <p class="color-red"><{$val.replayTips}>
                        <a href="<{$val.url}>&teacher_id=<{$loginUser.id}>&systemNotice_id=<{$val.id}>" class="cd-read-more <{if $val.is_read == $smarty.const.APP_UNIFIED_FALSE}>shifou-yidu<{/if}>">详情</a>
                    </p>
                    <{/if}>
                    <span class="cd-date"><{$val.created|date_format:"H:i:s"}></span>
                </div>
            </div>
        <{/foreach}>
    </section>
    <{else}>
    <div class="section">
        <div class="container">
            <div class="row parent-index-div">
                <div class="col-xs-12 position-relative">
                    <div class="unMessageList">暂无消息记录</div>
                </div>
            </div>
        </div>
    </div>
    <{/if}>
   
    <div class="margin-top-50 height-di-w  clear-both"></div>
    <!--底部导航条-->
    <footer class="footer footer_teacher">
        <!--跳转到首页-->
        <div class="col-xs-12 text-center padding-lrq-10">
            <a href="?c=school&a=classStatistic&teacher_id=<{$loginUser.id}>" ><i class="iconfont iconfont-color-hei">&#xe613;</i><div>首页</div></a>

            <!--跳转到发布通知-->
            <a href="?c=staff&a=deliverNotice&teacher_id=<{$loginUser.id}>"><i class="iconfont iconfont-color-hei">&#xe615;</i><div>发送通知</div></a>

            <!--跳转到留言消息-->
            <a href="?c=staff&a=notice&teacher_id=<{$loginUser.id}>" class="<{if $smarty.get.a ==notice && $smarty.get.c==staff}>color-green <{/if}>"><span class="xiaoxi-tishi hidden"></span><i class="iconfont iconfont-color-hei">&#xe614;</i><div>消息</div></a>
        </div>
    </footer>
    
    <!-- 退回 -->
    
 <script>	
 
    $(function() {
        xiaoxiTishi();
        function  xiaoxiTishi(){
            $.get('?c=staff&a=ajaxMessageTishi', function(rs){
                if(rs.code == 0){
                    $('.xiaoxi-tishi').removeClass('hidden');
                }else{
                    $('.xiaoxi-tishi').addClass('hidden');
                }
            }, 'json');
        }
    });
    
    $(function() {
        //初始化日期控件
        var opt = {
            preset: 'date', //日期
            theme: 'android-ics light', //皮肤样式
            display: 'modal', //显示方式
            mode: 'scroller', //日期选择模式
            lang:'zh',
            dateFormat: 'yy-mm-dd', // 日期格式
            setText: '确定', //确认按钮名称
            cancelText: '取消',//取消按钮名籍我
            dateOrder: 'yymmdd', //面板中日期排列格式
            showNow: false,
            maxDate: new Date(),
        };
       
        $("#sh_date").mobiscroll(opt);
       
        $('#sh_date').change(function() {
            var new_date = $('#sh_date').val();
            $('#day_time').val(new_date);
            $('#repost-form').submit();
        });
    });
    
    </script>