<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
    <li class="active">首页</li>
  </ul><!-- /.breadcrumb -->

</div>
<script src="js/line/Chart.js"></script>

<div class="page-content">
  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->

          <table class="table table-bordered table-form">
              <tr>
                <th>学校名称：</th>
                <td>
                  <{$smarty.session[$smarty.const.SESSION_USER].school_title}>
                </td>
              </tr>
              <tr>
                <th>电话：</th>
                <td>
                  <{$smarty.session[$smarty.const.SESSION_USER].school_phone}>
                </td>
              </tr>
              <tr>
                <th>地址：</th>
                <td>
                  <{$smarty.session[$smarty.const.SESSION_USER].school_address}>
                </td>
              </tr>
          </table>

      <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.page-content -->