<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="login-container">
      <div class="center">
        <h1>
          <i class="ace-icon fa fa-gear green"></i>
          <span class="red"></span>
          <span class="white" id="id-text2"><{$page.title|escape}></span>
        </h1>
        <h4 class="blue" id="id-company-text">&copy; 四川谛达诺科技有限公司</h4>
      </div>

      <div class="space-6"></div>

      <div class="position-relative">
        <div id="login-box" class="login-box visible widget-box no-border">
          <div class="widget-body">
            <div class="widget-main">
              <h4 class="header blue lighter bigger">
                <i class="ace-icon fa fa-coffee green"></i>
                请输入用户名和密码登录
              </h4>

              <div class="space-6"></div>

              <form name="login_form" method="post" action="?c=index&a=login" class="form-signin">
                <fieldset>
                  <label class="block clearfix">
                    <span class="block input-icon input-icon-right">
                      <input type="username" name="login[school_title]" id="inputSchoolTitle" class="form-control" placeholder="学校名" required autofocus value="<{$login.school_title|escape}>">
                      <i class="ace-icon fa fa-building"></i>
                    </span>
                  </label>

                  <label class="block clearfix">
                    <span class="block input-icon input-icon-right">
                      <input type="username" name="login[login]" id="inputUserName" class="form-control" placeholder="用户名" required autofocus value="<{$login.login|escape}>">
                      <i class="ace-icon fa fa-user"></i>
                    </span>
                  </label>

                  <label class="block clearfix">
                    <span class="block input-icon input-icon-right">
                      <input type="password" name="login[password]" id="inputPassword" class="form-control" placeholder="密码" required value="<{$login.password|escape}>">
                      <i class="ace-icon fa fa-lock"></i>
                    </span>
                  </label>

                  <{brave_error_hint errors=$errors name=login}>

                  <div class="space"></div>

                  <div class="clearfix">
                    <!--
                    <label class="inline">
                      <input type="checkbox" class="ace" />
                      <span class="lbl"> Remember Me</span>
                    </label>
                    -->

                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" name="complete" value="登录">
                      <i class="ace-icon fa fa-key"></i>
                      <span class="bigger-110">登录</span>
                    </button>
                  </div>

                  <div class="space-4"></div>
                </fieldset>
              </form>

              <div class="space-6"></div>

            </div><!-- /.widget-main -->

          </div><!-- /.widget-body -->
        </div><!-- /.login-box -->

    </div>
  </div><!-- /.col -->
</div><!-- /.row -->