<!-- logo -->
<div class="row top-nav-bar">
    <div class="text-left">
    </div>
    <div class="col-xs-9 text-center">
        <{include file="../Common/logo.html"}>
    </div>
    <div class="col-xs-3 text-right logo-title">
        <h4 class="text-center">家长绑定</h4>
    </div>
</div>
<!-- /.logo -->

<div class="row user-profile-body">

  <div class="panel panel-default no-margin">
    <div class="panel-heading">
        <select id="role-select" class="form-control" style="padding:5px;">
            <{brave_html_select maxSize='30' code=$code.role value=$form.role default=$smarty.const.ACT_PARENT_ROLE}>
        </select>
    </div>
    
    <div class="panel-heading no-bottom">
        <form id="role_form" name="role_form" method="post">
            <input type="hidden" name="complete" value="complete">
            
            <div id="parent-role">
                <div class="form-group">
                    <label for="relation-select">请选择与学生关系：</label>
                    <select id="relation-select" name="form[relation_type]" class="form-control" style="padding:5px;">
                        <{brave_html_select maxSize='30' code=$code.relation value=$form.relation_type}>
                    </select>
                </div>
                <div class="form-group" id="relation_title_div" style="display:none">
                  <label for="form-relation-title">请输入与学生关系：</label>
                  <input type="text" class="form-control" id="form-relation-title" placeholder="例：舅舅" name="form[relation_title]" value="<{$form.relation_title}>">
                </div>
                <div class="form-group">
                  <label for="form-name">学生姓名：</label>
                  <input type="text" class="form-control" id="form-name" placeholder="请输入姓名" name="form[name]" value="<{$form.name}>">
                </div>
                <div class="form-group">
                  <label for="form-birthday">学生生日：</label>
                  <input type="text" id="form-birthday" class="form-control" placeholder="请选择学生生日" name="form[birthday]" value="<{$form.birthday}>">
                </div>

            </div>
            
            <div class="text-center padding-top-15">
                <button type="button" class="btn btn-success width-100 ladda-button" data-style="expand-left" data-size="l" onclick="javascript:submitBind();">确定</button>
            </div>
        </form>
    </div>
    
  </div>

</div>

<div class="panel panel-default panel-margin">
    <div class="panel-heading padding-left-2 padding-right-2">
        <div class="row">
          <div class="notice-color" role="alert">
              <p>温馨提示：</p>
              <p>1.只有在校学生的家长可以绑定。</p>
              <p>2.请输入正确的学生姓名和生日。</p>
              <!-- <p>3.温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示。</p> -->
          </div>
        </div>
    </div> 
</div>

<script type="text/javascript">

$(function(){
    
    $('#role-select').change(function(){
        if($('#role-select').val() == <{$smarty.const.ACT_SCHOOL_GENERAL}>){
            location.href = '?c=bind&a=index&role=<{$smarty.const.ACT_SCHOOL_GENERAL}>';
        }
        
    });
    
    $('#relation-select').change(function(){
        if($('#relation-select').val() == <{$smarty.const.PARENT_TYPE_OTHER}>){
            $('#relation_title_div').show();
        }
        else {
            $('#relation_title_div').hide();
        }
    });
    

    //初始化日期控件
    var opt = {
        preset: 'date', //日期
        theme: 'android-ics light', //皮肤样式
        display: 'modal', //显示方式
        mode: 'scroller', //日期选择模式
        lang:'zh',
        dateFormat: 'yyyy-mm-dd', // 日期格式
        setText: '确定', //确认按钮名称
        cancelText: '取消',//取消按钮名籍我
        dateOrder: 'yyyymmdd', //面板中日期排列格式
        showNow: false,
        maxDate: new Date(),
    };
    $("#form-birthday").mobiscroll(opt);
    
});

function submitBind() {
    var valid = true;
    var name = $('#form-name').val();
    var birthday = $('#form-birthday').val();
    var relation_type = $('#relation-select').val();
    var relation_title = $('#form-relation-title').val();

    if(name == '' || name.length == 0) {
        toast('请输入学生姓名');
        valid = false;
    } 
    else if(birthday == '' || birthday == 0) {
        toast('请输入学生生日');
        valid = false;
    }
    else if(relation_type == '' || relation_type == 0) {
        toast('请选择与学生关系');
        valid = false;
    }
    else if(relation_type == <{$smarty.const.PARENT_TYPE_OTHER}>) {
        if(relation_title == '' || relation_title == 0) {
            toast('请输入与学生关系');
            valid = false;
        }
    }

    if(valid) {
        $.post('?c=bind&a=bindStudent', $('#role_form').serialize(), function(resp) {
            if(resp.code == 0) {
                location.href = '?c=index&a=message';
            }
            else if(resp.code == 301) {
                location.href = '?c=bind&a=chooseStudent';
            }
            else if(resp.code == 302) {
                location.href = '?c=bind&a=validParentPhone&sid='+resp.sid+'&pid='+resp.pid;
            }
            else if(resp.code == 303) {
                location.href = '?c=bind&a=chooseStudent';
            }
            else {
                toast(resp.message);
            }
        }, 'json');
    }
}

</script>