<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}

  </script>

  <ul class="breadcrumb">
      <a href='javascript:history.go(-1)'><i class="fa fa-arrow-left"></i></a>&nbsp;&nbsp;
    <li class="video" id="<{$school_id}>">视频开放时段</li>
  </ul><!-- /.breadcrumb -->

</div>

<div class="page-content">
  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->
      <div class='clearfix'></div>
      <div class="text-right toolbar">
        <a class="btn btn-info btn-sm" href="?c=video&a=input&pc=video&pa=index&id=<{$school_id}>">新增开放时段</a>
      </div>
      <div class="table-responsive">
      <table class="table table-bordered table-hover text-center channel_list">

          <col width="180" />
          <col width="180" />
          <col width="180" />
          <col width="180" />
          <col width="360" />


          <tr>
            <th class="text-center">视频名称</th>
            <th class="text-center">频道类型</th>
            <th class="text-center">视频状态</th>
            <th class="text-center">频道描述</th>
            <th class="text-center">视频时间</th>
          </tr>

          <!-- <{foreach from=$activityList item=activity key=key}>
            <tr id="row_<{$admin.id}>">
              <td><{$activity.name}></td>
              <td><{$activity.start_time}></td>
              <td><{$activity.end_time}></td>
              <td><{$activity.activity_des}></td>
              <td><{$activity.created}></td>
              <td>
                <a class="btn btn-xs btn-primary" href="?c=video&a=input&pc=video&pa=index&id=<{$activity.id}>">编辑</a>
              </td>
            </tr>
          <{/foreach}> -->

      </table>
  
      </div>
      <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.page-content -->

<script type="text/javascript">
    $(document).ready(function(){

      var SCHOOL_ID = $('.video').attr('id');
      $.ajax({
              url: "http://video.didano.com/video/rest/post/time_controls_search_by_schoolid/"+SCHOOL_ID, 
              type:'post',
              dataType:'json',
              timeout: 5000,
              contentType: "application/json; charset=utf-8",
              success:function(data){
                  var channelStr = "";
                  var channellist = data.data.list;
                  $.each(channellist,function(title,obj){
                    if(obj.type == 0){
                      channelStr += '<tr class="channel_list"><td>'+obj.name+'</td><td>监控</td>';
                      if(obj.status == 0){
                        channelStr += '<td>未启用</td>';
                      }else{
                        channelStr += '<td>启用</td>';
                      }
                      channelStr += '<td>'+obj.des+'</td>';
                      var controlslist = obj.controls;
                      channelStr += '<td><table class="table table-striped table-condensed">';
                      $.each(controlslist,function(title,time){
                        if(time != null){
                          channelStr += '<tr><td>'+time.start+'-'+time.end+'</td><td><a class="btn btn-xs btn-danger eachDelete" id="'+time.id+'" onclick=deleted_controls_time(this)>删除</a><a class="btn btn-xs btn-primary" href="?c=video&a=updata&pc=video&pa=updata&start='+time.start+'&end='+time.end+'&channelId='+time.channelId+'&timeId='+time.id+'">编辑</a></td></tr>';
                        }
                      });
                      channelStr += '</table></td></tr>';
                    }
                  });
                  $(".channel_list").append(channelStr);
              },
              error:function(){
                  alert("error");
              },
      });
  });

  function deleted_controls_time(obj){
    var removeId = $(obj).attr('id');
    $.ajax({
      url: "http://video.didano.com/video/rest/post/time_control_remove/"+removeId, 
      type:'post',
      dataType:'json',
      timeout: 5000,
      contentType: "application/json; charset=utf-8",
      success:function(data){
        alert("删除成功");
        window.location.href='?c=video&a=index';
      },
      error:function(){
        alert("删除失败");
      },
    });
  }
</script>
