<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
    <li class="active">学校一览</li>
  </ul><!-- /.breadcrumb -->

</div>

<div class="page-content">
  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->
      <form method="get" name="search_form" class="search-form" id="search-form">
          <input type="hidden" name="c" value="school" />
          <input type="hidden" name="a" value="index" />
          <input type="hidden" name="a" value="index" id="submit_action" />

          <table class="table table-bordered table-condensed ">
              <tr>
                <th>名称：</th>
                <td><input type="text" name="sh[title]" value="<{$sh.title}>" size="30"></td>
                <th>地址：</th>
                <td><input type="text" name="sh[address]" value="<{$sh.address}>" size="30"></td>
                <td class="button" style="width:130px" rowspan="2">
                    <div><button type="submit" class="btn btn-primary btn-xs"><i class="ace-icon fa fa-search"></i> 搜索</button>
                    <a href="?c=school&a=index" class="btn btn-default btn-xs"><i class="ace-icon fa fa-undo"></i> 重置</a></div>
                </td>
              </tr>
              <tr>
                <th>电话：</th>
                <td colspan="3"><input type="text" name="sh[phone]" value="<{$sh.phone}>" size="30"></td>
              </tr>
          </table>

        <{include file="../Common/paginate.html"}>
      </form>
      
      <div class='clearfix'></div>
      <div class="text-right toolbar">
        <a style="width:80px;" class="btn btn-info btn-sm" href="?c=school&a=input&pc=school&pa=index">新增</a>
      </div>
      <div class="table-responsive">
      <table class="table table-bordered table-hover">

          <col width="260" />
          <col width="120" />
          <col />
          <col width="70" />
          <col width="150" />
          <col width="101" />

          <tr>
            <th>名称</th>
            <th>联系电话</th>
            <th>地址</th>
            <th>有效状态</th>
            <th <{brave_order code=$code.order.default array=sh key='a' name='field' txt="创建时间"}>></th>
            <th>操作</th>
          </tr>

          <{foreach from=$schoolList item=school key=key}>
          <tr id="row_<{$admin.id}>">
            <td><{$school.title}></td>
            <td><{$school.phone}></td>
            <td><{$school.address}></td>
            <td class="text-center"><{$code.status[$school.status].name}></td>
            <td><{$school.created}></td>
            <td>
              <a class="btn btn-xs btn-danger" href="javascript:void(0);" onclick="linkConfirm('确定删除吗？', '?c=school&a=delete&id=<{$school.id}>')">删除</a>
              <a class="btn btn-xs btn-primary" href="?c=school&a=input&pc=school&pa=index&id=<{$school.id}>">编辑</a>

            </td>
          </tr>
          <{/foreach}>

      </table>
  
      </div>
      <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.page-content -->

<script type="text/javascript">
  $("#export_button").click(function(){
    $("#submit_action").attr("value", "exportImg");
    $("#search-form").submit();
});
</script>
