<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
    <li>
      <a href="?c=student&a=dreamIndex&pc=student&pa=dreamIndex">学生梦想</a>
    </li>
    <li class="active">梦想图片(放大版)</li>
  </ul><!-- /.breadcrumb -->

</div>
    <div></br></div>
    <div></br></div>
    <div></br></div>
    <div></br></div>
    <div>
    <center>
        <table>
            <td>
                <td class="text-center"><img src="<{$smarty.const.APP_OSS_URL}><{$form['img_url']}>" class="dream_more"></td>
            </td>
        </table>
    </center>
    </div>
<div class="page-content">
  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->

      <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.page-content -->
