 
    <!--首页 index -->
    <div class="ui-header-w">
        <div class="container-fluid">
            <div class="row">
                  <div class="inner">
                     <{if $student_list}>
                        <{foreach from=$student_list item=val}>
                            <a class="btn btn-lg btn-default col-xs-12 <{if $student_list|count == 1}>hidden<{/if}> <{if $val.id ==$student.id}>btn-green-bk<{else}><{/if}>" href="?c=parent&a=index&studentId=<{$val.id}>"><{$val.name}></a>
                        <{/foreach}>
                    <{/if}>
                </div>
            </div>
        </div>
    </div>
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="section">
        <div class="container">
            <div class="row parent-index-div">
                <div class="col-xs-12 padding-lrq-10">
                    <h4 class="index-h4 al-font-weight">宝贝首页 <span></span></h4>
                    <div class="col-xs-6 padding-lrq-10">
                        <img class="width-100  img_click al-index-pic" src="<{$smarty.const.APP_OSS_URL}><{$student.studentDetection.file_path}>"/>
                    </div>
                    <div class="col-xs-6 padding-lrq-10">
                        <div class="parent-div1">
                           <p>  <b class="">姓名：</b>
                           <span class="al-homePage-color"><{$student.name}></span></p>
                        </div>
                        <div class="parent-div1">
                            <p><b class="">班级：</b>
                            <span class="al-homePage-color"><{$student.class_title}></span></p>
                        </div>
                        <hr class="hr-top-10 al-hr-top-15"/>
                        <div class="parent-div1">
                            <p><b class="">最新身高：</b>
                            <span class="al-homePage-color"><{if $student.studentDetection}><{$student.studentDetection.height/10}> cm<{else}>暂无数据<{/if}></span></p>
                        </div>
                        <div class="parent-div1">
                            <p><b class="">最新体重：</b> 
                            <span class="al-homePage-color"><{if $student.studentDetection}><{$student.studentDetection.weight/1000}> kg<{else}>暂无数据<{/if}></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr class="al-hr-top-5"/>
                    <div class="parent-div2" onclick="window.location.href='?c=parent&a=setting&studentId=<{$student.id}>'">
                        <span class="col-xs-6 padding-lrq-10"><b>生日：</b><{$student.birthday}> </span>
                        <span class="col-xs-6 padding-lrq-10 position-relative"><b>小名：</b>
                        <{if $student.nickname}><{$student.nickname}><{else}>暂无设置<{/if}><a class="parent-index-bianji" href="?c=parent&a=setting&studentId=<{$student.id}>"><img src="./img/sanjiao_03.png"/></a></span>
                        <span class="col-xs-6 padding-lrq-10"><b>性别：</b>
                        <{if $student.gender}><{if $student.gender==1}>男<{else}>女<{/if}><{else}>暂无设置<{/if}></span>
                        <span class="col-xs-6 padding-lrq-10"><b>梦想：</b><{if $student.dream_id}><{$student.dream_id}><{else}>暂无设置<{/if}></span>  
                        <span class="col-xs-12 padding-lrq-10"><b>爱好：</b><{if $student.hobby}><{$student.hobby}><{else}>暂无设置<{/if}></span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr class="al-hr-bottom-5"/>
                    <div class="parent-div3">
                            <span class="col-xs-12 padding-lrq-10"><b>老师评语：</b>  <{if $student.comment}>
                            <{$student.comment}><{else}>暂无评语<{/if}></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section sec-welfare">
        <div class="container">
            <div class="row parent-index-biao">
                <div class="col-xs-12 text-center padding-lrq-10">
                    <!-- <div class="col-xs-3 padding-lrq-10"><a href="?c=christmas&a=index&studentId=<{$student.id}>"><img src="./img/incon_activity01.png"/></a>
                        <p class="parent-div1 al-homePage-color">圣诞活动</p>
                    </div> -->
                        <div class="col-xs-3 padding-lrq-10 hidden" id='watch-icon'><a href="?c=parent&a=videoIndex&studentId=<{$student.id}>"><img src="./img/incon_video02.png"/></a>
                            <p class="parent-div1 al-homePage-color">看宝宝</p>
                        </div>

                    <!-- <div class="col-xs-3 padding-lrq-10"><a href="?c=group&a=index&id=<{$student.id}>"><img src="./img/icon2.png"/></a>
                        <p class="parent-div1 al-homePage-color">家庭管理</p>
                    </div>
                    <div class="col-xs-3 padding-lrq-10"><a href="?c=public&a=messageIndex&studentId=<{$student.id}>"><img src="./img/icon3.png"/></a>
                        <p class="parent-div1 al-homePage-color">消息</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="img_tishi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog " role="document">
        <div class="modal-content">
            <span class="close_bi hidden" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            <div class="modal-body" style="height:300px;">
               <img class="width-100" src="<{$smarty.const.APP_OSS_URL}><{$student.studentDetection.org_img_url}>"/>
            </div>
        </div>
      </div>
    </div>
      
    <div class="margin-top-100 height-di-w"></div>
    <!--底部导航条-->
    <footer class="footer">
        <!--跳转到首页-->
        <div class="col-xs-12 text-center padding-lrq-10">
            <a href="?c=parent&a=index&studentId=<{$student.id}>" class="<{if $smarty.get.a == index}>color-green <{/if}>" ><i class="iconfont iconfont-color-hei">&#xe613;</i><div>首页</div></a>


            <!--跳转到接送报告-->
            <a href="?c=parent&a=report&studentId=<{$student.id}>&type=<{$smarty.const.REPORT_TYPE_DAY}>" class="<{if $smarty.get.a ==report}>color-green <{/if}>" ><i class="iconfont iconfont-color-hei">&#xe616;</i><div>报告</div></a>


            <!--跳转到查询-->
            <a href="?c=query&a=index&studentId=<{$student.id}>" class="<{if $smarty.get.a ==index && $smarty.get.c==query}>color-green <{/if}>"><i class="iconfont iconfont-color-hei">&#xe617;</i><div>查询</div></a>


            <!--跳转到关系绑定-->
            <a href="?c=group&a=index&id=<{$student.id}>" class="<{if $smarty.get.a ==index && $smarty.get.c==group}>color-green <{/if}>"><i class="iconfont iconfont-color-hei">&#xe615;</i><div>家庭管理</div></a>
            
            <!--跳转到电话绑定-->
            <a href="?c=public&a=messageIndex&studentId=<{$student.id}>"><span class="xiaoxi-tishi hidden"></span><i class="iconfont iconfont-color-hei">&#xe614;</i><div>消息</div></a>
        </div>
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?06abfa8d15984e47d948d94dafbb9483";
                var s = document.getElementsByTagName("script")[0]; 
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </footer>

  <script>

    $(document).ready(function(){
        $.ajax({
            type: "POST",
            url:"http://video.didano.com/video/client/post/channel_get_by_student/"+<{$student.id}>,
            dataType: 'JSON',
            success: function(rs){
                if(rs.data.num > 0){
                    $('#watch-icon').removeClass('hidden');
                }
            },
        });

    });
    $(".img_click").click(function(){
        $("#img_tishi").modal('show');
        $('#img_tishi').find('.modal-dialog').css({  
                'margin-top':'150px'
        });
    });
    $(function() {
        xiaoxiTishi();
        function  xiaoxiTishi(){
            $.get('?c=public&a=ajaxMessageTishi', function(rs){
                if(rs.code == 0){
                    $('.xiaoxi-tishi').removeClass('hidden');
                }else{
                    $('.xiaoxi-tishi').addClass('hidden');
                }
            }, 'json');
        }
    });



  </script>