<style>
#exception_handle {width: 100%; margin: 0; padding: 0; border: 1px solid #800000; border-top: none;}
#exception_handle h3 {font-size: 14px; margin: 0px; background-color: #800000; color: #FFF;}
#exception_handle table {font-size: 12px; text-align: left; margin: 2px;}
</style>

<div id="exception_handle">
<h3>&nbsp;Brave Error Handler</h3>
<table>
    <tr>
        <th>TYPE:</th>
        <td><{$errtypes[$error.errno]}></td>
    </tr>
    <{if $error.errfile neq ''}>
    <tr>
        <th>FILE:</th>
        <td><{$error.errfile}></td>
    </tr>
    <{/if}>
    <{if $error.errline neq ''}>
    <tr>
        <th>LINE:</th>
        <td><{$error.errline}></td>
    </tr>
    <{/if}>
    <tr>
        <th valign="top">MSG:</th>
        <td><{$error.errstr}></td>
    </tr>
</table>
</div>