<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
    <li>
      <a href="?c=class&=index">活动一览</a>
    </li>
    <li class="active">新增活动</li>
  </ul><!-- /.breadcrumb -->

</div>

<div class="page-content">
  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->

        <form name="data_form" method="post">
          <{if $form.id}><input type="hidden" name="form[id]" value="<{$form.id|escape}>" /><{/if}>
          <table class="table table-bordered table-form">
              <tr>
                <th class="must">活动名称：</th>
                <td>
                  <input type="text" name="form[title]" size="30" class="form-control text" value="<{$form.title|escape}>"/>
                  <{brave_error_hint errors=$errors name=title}>
                </td>
              </tr>
              <tr>
                  <th class="must">活动时间：</th>
                      <td>
                        <div class='input-group date' id='datetimepicker1'>
                          <input type="text" name="form[time]" size="30" class="form-control text form-control-datetimepicker" value="<{if $form.start}><{date('Y-m-d H:i', strtotime($form.time))|escape}><{/if}>"/>
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>
                        <{brave_error_hint errors=$errors name=time}>
                      </td>
                </tr>
                <tr>
                  <th class="must">活动开始时间：</th>
                      <td>
                        <div class='input-group date' id='datetimepicker1'>
                          <input type="text" name="form[start]" size="30" class="form-control text form-control-datetimepicker" value="<{if $form.start}><{date('Y-m-d H:i', strtotime($form.start))|escape}><{/if}>"/>
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>
                        <{brave_error_hint errors=$errors name=start}>
                      </td>
                </tr>
                    <tr>
                      <th class="must">活动结束时间：</th>
                      <td>
                        <div class='input-group date' id='datetimepicker1'>
                          <input type="text" name="form[end]" size="30" class="form-control text form-control-datetimepicker" value="<{if $form.end}><{date('Y-m-d H:i', strtotime($form.end))|escape}><{/if}>"/>
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>
                        <{brave_error_hint errors=$errors name=end}>
                      </td>
                    </tr>
              <tr>
                <th>活动描述：</th>
                <td>
                  <input type="text" name="form[des]" size="30" class="form-control text" value="<{$form.des|escape}>"/>
                  <{brave_error_hint errors=$errors name=des}>
                </td>
              </tr>
              <tr class="option">
                <th></th>
                <td>
                  <input type="submit" class="btn btn-primary" name="complete" value="保存" />
                </td>
              </tr>
          </table>
      </form>

      <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.page-content -->

<script type="text/javascript">
jQuery(function($) {
});
</script>