<div class="row top-nav-bar">
    <div class="text-left">
    </div>
    <div class="col-xs-8 text-center">
        <{include file="../Common/logo.html"}>
    </div>
    <div class="col-xs-3 text-right logo-title">
    </div>
</div>

<div class="panel-margin panel-align">
    <div class="panel-heading no-bottom">
        <div class="row">
            <div class="">
                <div class="text-center">
                    <div class="caption">
                        <p class="text-left">关注公众号 "小诺健康机器人"，绑定后接收您小朋友每天的晨检数据</p>
                        <p class="text-left">关注微信公众号方式1：在微信中搜索公众号 “小诺健康机器人”</p>
                        <p class="text-left">关注微信公众号方式2：长按保存以下二维码后，打开微信后使用 发现→扫一扫→选择从相册选取二维码（右上角）</p>
                    </div>
                    <p><img src="img/qrcode.jpg" alt="..."></p>
                </div>
            </div>
        </div>
    </div>
</div>
